# Metricord Config
# ----------------

# Discord (https://discord.com/developers/applications)
BOT_TOKEN=
DISCORD_CLIENT_SECRET=

# Web Dashboard
DASHBOARD_PORT=8092
DASHBOARD_SECRET_KEY=
DASHBOARD_ACCESS_TOKEN=

# Infrastructure
REDIS_URL=redis://localhost:6379/0

# SMTP / Email
SMTP_PASSWORD=


