# Metricord Config
# ----------------

# Discord (https://discord.com/developers/applications)
BOT_TOKEN=
DISCORD_CLIENT_SECRET=

# Discourse
DISCOURSE_TOKEN=

# Web Dashboard
DASHBOARD_PORT=8093
DASHBOARD_SECRET_KEY=
DASHBOARD_ACCESS_TOKEN=

# Infrastructure
REDIS_URL=redis://localhost:6379/0

# SMTP / Email
SMTP_PASSWORD=

# Analytics Config
EVENT_RETENTION_DAYS=90
ACTIVITY_INACTIVITY_THRESHOLD_DAYS=14
